* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0px;
  color: #333333;
  height: 100%;
}

body {
  background: #ffffff;
  overflow: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.15s ease;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  margin-top: 15px;
}

a:hover {
  color: #000000;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  vertical-align: middle;
  width: 100%;
}

input {
  -webkit-appearance: none;
}

ul li {
  list-style-type: none;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-moz-selection {
  background: #deb14c;
  color: #ffffff;
}

::selection {
  background: #deb14c;
  color: #ffffff;
}

::-moz-selection {
  background: #deb14c;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  box-shadow: #294f76;
  -webkit-box-shadow: #294f76;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #294f76;
}

.primary-color {
  color: #ff0006 !important;
}

.color-blck {
  color: #000000;
}

.margin-top-80 {
  margin-top: 80px;
}

.relative {
  position: relative;
}

.btn-read {
  width: 200px;
  height: 48px;
  color: #ffffff;
  padding: 5px 20px;
  background-color: #294f76;
  border: 2px solid #294f76;
  /* border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.btn-read:hover {
  background-color: #ffffff;
  color: #294f76;
}

.btn-read__outline {
  /* width: 105px;
    height: 29px; */
  color: #294f76;
  padding: 5px 37px;
  border: 2px solid #294f76;
  /* border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
  font-weight: 300;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.btn-position__outline {
  margin: 25px auto;
}

.btn-position {
  margin: 25px auto;
  text-align: center;
}

.flexy-grid {
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
}

.flexy-fifty {
  flex: 50%;
  align-self: center;
  display: flex;
}

.micros__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 15px;
}

@media (max-width: 768px) {
  .micros__container {
    padding: 0px 10px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site__main {
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .site__main {
    padding: 20px;
  }
}

figure {
  margin: 0;
  padding: 0;
}

header {
  max-width: 100%;
  max-height: 128px;
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  header {
    top: 105px;
    position: fixed;
    padding: 20px 10px;
    z-index: 999;
    width: 100%;
  }
}

header .site__left img {
  max-width: 70px;
  height: 74px;
}

header .site__left,
header .site__right {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  header .site__right {
    position: relative;
    top: 10px;
  }
}

header .site__right img {
  max-width: 258px;
}

.nav__overlay ul {
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
}

.micros-topnav ul li {
  color: #000000;
  float: left;
  padding: 15px;
  transition: width 2s ease-in-out;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
}

.micros-topnav ul li:hover {
  color: #000000;
}

.icon {
  display: block;
  margin: 0 auto;
}

.icon-wa {
  width: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}

.heading {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}

.bg-heading {
  color: #294f76;
  text-align: center;
  margin: 0;
}

.bg-secondary {
  background-color: #f6f7f8 !important;
  padding: 90px 0;
}

@media (max-width: 768px) {
  .bg-heading {
    margin-bottom: 11px;
    line-height: 1.3;
  }
  .bg-secondary {
    background-color: #f6f7f8;
  }
}

.border__bottom {
  border-bottom: 5px solid #294f76;
  width: 150px;
  margin: 0 auto;
}

.shadow {
  /* box-shadow: 0px 4px 10px 0px lightblue; */
  background-color: transparent;
  box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1);
}

ol.guide {
  list-style: none;
  counter-reset: item;
  padding: 0;
}

ol.guide li {
  margin-bottom: 15px;
  display: flex;
  font-family: "gilroy", sans-serif;
}

ol.guide li::before {
  content: " ";
  counter-increment: item;
  background-image: url("../images/checklist.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  color: #000000;
  height: 20px;
  padding: 5px 19px;
  font-size: 13px;
  text-align: center;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: 1;
}

p.ol-paragraf {
  margin: 0;
  padding: 0;
}

.deskDisp {
  display: block;
}

.mobDisp {
  display: none;
}

@media (max-width: 768px) {
  .mobDisp {
    display: block;
  }
}

.about__area {
  height: 50px;
  width: 100%;
  background-color: #294f76;
}

.elem__center__absolute {
  position: absolute;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  left: 0;
  text-align: center;
  right: 0;
  background-color: #2a4f768f;
  backdrop-filter: blur(8px);
  z-index: 9999;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .elem__center__absolute {
    padding: 30px;
    z-index: 0;
  }
}

.elem__center__absolute__area {
  max-width: 900px;
  margin: 0 auto;
}

.elem__center__absolute h1 {
  color: #ffde3d;
  line-height: 1;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .elem__center__absolute h1 {
    font-size: 1.2em;
  }
}

.elem__center__absolute p {
  color: #ffffff;
  line-height: 1.3;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .elem__center__absolute p {
    font-size: 12px;
  }
}

.micros-topnav--activated {
  color: #000000;
}

.micros__center {
  text-align: center;
}

.micros__head-quot img {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 623px;
  height: auto;
  cursor: text;
}

.eachBox {
  width: 100%;
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #ffffff;
  margin-top: 114px;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
}

.eachBox ul {
  padding: 20px;
  margin: 0;
  box-shadow: 2px 3px 13px #d3d3d3;
  -webkit-box-shadow: 2px 3px 13px #d3d3d3;
  max-height: 400px;
  overflow: scroll;
}

.eachBox ul li img {
  width: 80px;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.eachBox ul li a {
  width: 100%;
  position: relative;
  display: block;
  padding: 20px;
  background-color: #eaeaea;
  border-bottom: 1px solid #c0c0c0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 17px;
  height: 77px;
  display: flex;
  align-items: center;
}

.eachBox ul li:hover a {
  background-color: #c7c7c7;
  color: #ff0006;
}

.eachBox ul li p {
  margin: 0;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav__overlay {
  width: 100%;
}

.topnav {
  overflow: hidden;
  height: 50px;
}

.topnav a {
  text-align: center;
  text-decoration: none;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav .icon {
  display: none;
}

.site__hero {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

figure.site__hero__figure.player iframe {
  width: 100%;
}

.swiper-client figure.site__hero__figure {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-client .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure.site__hero__figure {
  width: 100%;
  margin: 0;
}

figure.site__hero__figure iframe,
figure.site__hero__figure img.hero__image--homepage,
figure.site__hero__figure img.hero__image--submenu {
  background-size: cover;
  background-position: top center;
}

.site__hero__overlay {
  background-image: linear-gradient(#ffffff00, #ffffff);
  width: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 17px 17px;
  height: 308px;
}

figure.site__hero__figure figcaption.site__hero__caption {
  position: absolute;
  top: 40%;
  z-index: 2;
  width: 100%;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

figure.site__hero__figure figcaption.site__hero__caption--submenu {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

figure.site__hero__figure figcaption.site__hero__caption ul {
  display: inline;
}

figure.site__hero__figure figcaption.site__hero__caption ul li {
  float: left;
  display: inline-flex;
}

figure.site__hero__figure figcaption.site__hero__caption ul li + li::before {
  padding: 3px 8px;
  color: #ffffff;
  content: "\2014";
}

figure.site__hero__figure figcaption.site__hero__caption ul li:first-child {
  color: #ecc064;
}

figure.site__hero__figure figcaption.site__hero__caption ul li:last-child {
  color: #ffffff;
}

figure.site__hero__figure figcaption.site__hero__caption ul li p {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

figure.site__hero__figure figcaption.site__hero__caption h1 {
  margin: 0;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 1.1;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

figure.site__hero__figure figcaption.site__hero__caption--submenu h1 {
  margin: 0;
  font-size: 2.7em;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 1.1;
  max-width: 500px;
}

/* .swiper-slide {
    height: 95vh;
} */

.swiper-pagination {
  position: absolute;
  z-index: 99999;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0px 10px;
  border: none;
  background: #ffffff;
  opacity: inherit;
  border: 3px solid #94a7ba;
}

.swiper-pagination-bullet-active {
  background: #000000;
}

.site__main__card__items {
  margin-bottom: 50px;
  width: 100%;
}

.site__ragam__section {
  background-color: #f7f7f7;
  margin-top: 30px;
  padding-bottom: 140px;
}

.site__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #333333;
  padding-left: 19px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: flex;
  align-items: center;
}

.site__card__list {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.site__card__item {
  width: 48%;
  position: relative;
  transition: 0.2s ease;
}

.site__card__thumb {
  /* border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px; */
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #bebebe;
  box-shadow: -7px -1px 15px 3px #454a4c;
}

.site__card__item figure img {
  transform: scale(1, 1);
  transition: 0.5s ease;
  height: 440px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.site__card__item:hover img {
  transform: scale(1.1, 1.1);
}

.site__card__item:hover {
  color: #ecc064;
}

.site__card__item figure {
  padding-bottom: 10px;
  overflow: hidden;
}

.site__card__item figure figcaption.site__card__caption h1 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 20px;
}

.site__card__item figure figcaption.site__card__caption:hover h1 {
  color: #294f76;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.site__card__item figure:hover .btn-read__outline {
  background-color: #294f76;
  color: #ffffff;
}

.site__card__item figure figcaption.site__card__caption ul {
  display: contents;
}

.site__card__item figure figcaption.site__card__caption ul li:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #848383;
}

.site__card__item figure figcaption.site__card__caption ul li:last-child {
  color: #848383;
  font-weight: 300;
  font-size: 13px;
}

.site__card__item figure figcaption.site__card__caption ul li p {
  margin: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.hvr-container {
  position: relative;
  cursor: pointer;
}

.hvr-img {
  display: block;
  width: 100%;
}

.hvr-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #021c4078;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 156px;
}

.hvr-container:hover .hvr-overlay {
  opacity: 1;
}

.hvr-text {
  align-self: center;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  padding: 20px;
}

.hvr-text img {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

.site__gallery__list {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

.site__gallery__item {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.site__gallery__item figcaption {
  display: none;
}

.site__card__list .swiper-pagination {
  bottom: -3px;
  position: relative;
  z-index: 99999;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: none;
}

.site__card__list .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  margin: 0px 10px;
  border: none;
  background: #122c4f;
  opacity: inherit;
}

.site__card__list .swiper-pagination-bullet-active {
  background: #ecc064;
}

.site__thumb__gallery {
  height: 156px;
  width: 235px;
}

.site__thumb__gallery img {
  height: 156px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site__card__column__list__item {
  width: 100%;
  height: 230px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  padding-bottom: 20px;
}

.site__card__column__list__item .site__column__thumb {
  flex: 1 1 300px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.site__card__column__list__item:hover {
  color: #deb14c;
}

.site__card__column__list__item:hover img {
  transform: scale(1.1, 1.1);
}

.site__card__column__list__item h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #333333;
  line-height: 1.1;
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.site__card__column__list__item:hover h1 {
  color: #deb14c;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.site__card__column__list__item img {
  height: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.site__column__caption {
  padding-left: 15px;
  width: 67%;
}

.site__column__summary {
  font-size: 18px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #333333;
  margin: 11px 0px;
  margin: 10px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.site__column__caption ul {
  margin: 0;
  padding: 0;
  position: absolute;
}

.site__column__caption ul li {
  float: left;
  display: inline-flex;
}

.site__column__caption ul li:first-child {
  color: #deb14c;
}

.site__column__caption ul li:last-child {
  color: #808080;
}

.site__column__caption ul li + li::before {
  padding: 0px 5px;
  color: #808080;
  content: "\2014";
  line-height: 22px;
}

.site__column__caption ul li p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.moreInfo {
  margin-top: 100px;
}

.moreInfo figure {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.moreInfo figure ul {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  left: 0;
  right: 0;
}

.moreInfo figure ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #000000;
  line-height: 1.5;
  width: 500px;
}

.moreInfo figure ul li:nth-child(1) {
  font-size: 1em;
  margin: 20px 0;
}

.moreInfo figure ul li:nth-child(2) {
  font-size: 2.187em;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
}

.moreInfo figure ul li > div.moreInfo--features {
  display: flex;
}

.moreInfo figure ul li > div.moreInfo--features div {
  margin-right: 10px;
  height: 107px;
}

.moreInfo figure ul li > div.moreInfo--features figure {
  background-color: #ff0006;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 55px;
  height: 55px;
}

.moreInfo figure ul li > div.moreInfo--features div p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: 1.3;
  font-weight: 700;
}

.clickme {
  animation: click 2s infinite;
  -webkit-animation: click 2s infinite;
}

@keyframes click {
  50% {
    box-shadow: 0px 0px 40px #294f76;
  }
}

.elem__area {
  width: 100%;
  height: 50px;
  background-color: #294f76;
  justify-content: center;
}

.elem__area--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .elem__area--wrap {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 12px;
  }
}

.elem__area__socmed {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .elem__area__socmed {
    flex-direction: row;
  }
}

.elem__area__socmed div {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  align-self: center;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .elem__area__socmed div {
    font-size: 12px;
  }
}

.elem__area__socmed a {
  margin-right: 10px;
}

.elem__area__socmed img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.parallax-1 {
  background-image: url("../images/hero.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("../images/hero.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  width: 100%;
  height: 300px;
  border: 0;
}

.site__read__title {
  padding-top: 55px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin: 15px 0px;
  text-align: center;
  width: 650px;
  margin: 0 auto;
}

.site__article__section {
  padding: 0;
}

.site__article__img {
  margin: 30px auto 20px auto;
}

.site__article__img img {
  height: 440px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #bebebe;
}

.site__article__img .caption {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333333;
  margin-top: 10px;
  text-align: left;
}

.back-to-home {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e52322;
  margin-top: 50px;
  text-align: right;
}

.back-to-home img {
  width: 13px;
  height: 13px;
  margin-bottom: 4px;
}

.site__article__meta {
  justify-content: space-between;
}

.site__article__meta .article__share {
  text-transform: uppercase;
  color: #a5a5a5;
  font-size: 14px;
  text-align: center;
}

.site__article__meta .article__share img {
  width: 43px;
  height: 43px;
  margin-left: 10px;
  vertical-align: top;
}

.site__article__meta .article__share a:hover {
  opacity: 0.7;
}

.site__article__meta .meta__sec {
  font-size: 14px;
  text-align: center;
  color: #a5a5a5;
  padding: 5px 0;
}

.article__source ul {
  margin: 0;
  padding: 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  height: 25px;
}

.article__source ul li {
  float: left;
}

.site__article__meta .article__source {
  color: #a5a5a5;
}

.site__article__meta .article__date {
  color: #808080;
}

.site__article__meta .article__date::after {
  content: "\2758";
  padding-right: 3px;
  color: #808080;
}

.site__article__creator {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
}

.site__article__content p {
  line-height: 1.6;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

article {
  width: 768px;
  margin: 0 auto;
}

.site__article__content a {
  font-weight: 700;
  color: #ecc064;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.site__article__content a:hover {
  color: #8a5d00;
}

.baca-lainnya {
  padding: 15px 20px;
  background-color: #f5f5f5;
}

h3.baca-lainnya__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
}

.baca-lainnya p {
  font-size: 18px;
  margin-block-start: 0px;
  margin-block-end: 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin: 10px auto;
}

.baca-lainnya a {
  color: #000;
  font-weight: normal;
}

.baca-lainnya p:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ui__shine {
  width: 320px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 7px 7px;
  color: #000000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  text-decoration: none;
  background: #ffd700;
  background-repeat: no-repeat;
  background-position: -100px -100px, 0 0;
  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.ui__shine:hover,
.ui__shine:focus {
  color: #000000;
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.ui__shine:active {
  top: 1px;
}

.ui__shine p {
  margin: 0 15px 0 5px;
  padding: 0;
  font-size: 1.1em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

img.ui__shine--icon {
  width: 20px;
  height: auto;
}

.ui__shine-container {
  position: relative;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wrapFoto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapFoto > div {
  width: 20%;
  text-align: center;
  margin-bottom: 20px;
  margin: 10px;
  padding: 5px;
}

.embed.wrapFoto > div {
  margin: 7px;
  width: auto;
  height: 250px;
}

.wrapFoto figure {
  margin-bottom: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.wrapFoto figure img {
  width: 100px;
  height: 100px;
  border-radius: 77px;
  -webkit-border-radius: 77px;
  -moz-border-radius: 77px;
  -ms-border-radius: 77px;
  -o-border-radius: 77px;
  object-position: top;
  -o-object-position: top;
  padding: 20px;
}

.embed.wrapFoto figure img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.fotoName {
  font-size: 1.3em;
  line-height: 1;
  color: #294f76;
  text-transform: capitalize;
  margin: 0;
  font-family: "gilroy-bold", sans-serif;
}

.fotoCaption {
  font-size: 13px;
  color: #294f76;
  font-style: italic;
  margin: 10px 0;
  font-family: "gilroy", sans-serif;
}

.wrap-scrolln {
  background-color: #ffffff;
  position: relative;
  top: -75px;
  bottom: 0;
  left: 0;
  z-index: 9999;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.scrolln {
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
  background-color: #ffffff;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
    -webkit-transform: translateY(20%) rotate(45deg);
    -moz-transform: translateY(20%) rotate(45deg);
    -ms-transform: translateY(20%) rotate(45deg);
    -o-transform: translateY(20%) rotate(45deg);
  }

  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
    -webkit-transform: translateY(0%) rotate(45deg);
    -moz-transform: translateY(0%) rotate(45deg);
    -ms-transform: translateY(0%) rotate(45deg);
    -o-transform: translateY(0%) rotate(45deg);
  }

  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
    -webkit-transform: translateY(20%) rotate(45deg);
    -moz-transform: translateY(20%) rotate(45deg);
    -ms-transform: translateY(20%) rotate(45deg);
    -o-transform: translateY(20%) rotate(45deg);
  }
}

.scrolln--item1 {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: -15px;
  position: relative;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  animation: scrolldown 1.2s ease-in-out infinite 0.15s;
  -webkit-animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}

.scrolln--item2 {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 0;
  position: relative;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  animation: scrolldown 1.2s ease-in-out infinite;
  -webkit-animation: scrolldown 1.2s ease-in-out infinite;
}

.p-typing {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 5vh;
}

.c-typing {
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
}

.ityped {
  color: #b5b5b5;
  padding-top: 5vh;
  padding: 0;
}

.link {
  border-bottom: 1px solid blue;
  cursor: pointer;
  color: #ffde3d;
}

#modal {
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 999;
  bottom: 0;
  right: 0;
  height: 100vh;
  padding-top: 50px;
  display: none;
  position: fixed;
}

#player {
  height: 90vh;
  width: 100%;
  z-index: 0;
}

.site__modal-close {
  z-index: 9;
  font-size: 3em;
  background-color: #ffd800;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 33px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
}

/* .bg-parallax {
  background-image: url("../images/kaos-13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
  height: 500px;
  width: 100%;
} */

.site__modal-close:hover {
  background-color: #bcbcbc;
}

.flexy-grid.cta {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-right: 5px solid #294f76;
}

img.cta-icon {
  width: 30px;
  height: auto;
}

.backtotop {
  width: 65px;
  position: fixed;
  opacity: 0;
  bottom: 8%;
  right: 3%;
  z-index: 180;
  transition: 0.7s ease;
}

.show {
  opacity: 1;
}

.backtotop img {
  transition: 0.2s ease;
  transform: scale(1, 1);
}

.backtotop a:hover img {
  transform: scale(0.95, 0.95);
}

footer {
  background-color: #264c73;
  text-align: center;
  color: #ffffff;
  min-height: 80px;
}

@media (max-width: 768px) {
  footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact__area {
  width: 100%;
  text-align: center;
}

.callUs:hover,
.emailUs:hover {
  border: 2px solid #264c73;
}

a.callUs,
a.emailUs {
  padding: 15px 40px;
  border: 2px solid #8e8e8e;
  color: #424242;
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}

.hero__section {
  height: 80vh;
}

@media (max-width: 768px) {
  .top-contact {
    position: fixed;
    z-index: 9;
    top: 0;
  }
  .hero__section {
    height: 80vh;
    margin-top: 200px;
    z-index: 0;
    position: relative;
  }
}

@media (min-width: 2000px) {
  figure.site__hero__figure figcaption.site__hero__caption--submenu h1 {
    font-size: 3.6em;
  }
}

@media (max-width: 1100px) {
  .site__main {
    margin-top: 11px;
  }

  .site__article__section {
    padding: 0px 20px;
    /* margin:0 auto; */
    margin-right: inherit;
  }

  aside {
    margin-right: 20px;
  }

  article {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .back-to-home {
    right: 20px;
    position: relative;
  }

  figure.site__hero__figure figcaption.site__hero__caption {
    left: 20px;
  }

  figure.site__hero__figure figcaption.site__hero__caption--submenu h1 {
    left: 20px;
    position: relative;
  }

  .micros-topnav ul li {
    font-size: 10px;
  }

  .dropdown-content {
    width: 50%;
  }

  .site__main {
    margin-top: 11px;
    flex-direction: column;
    background-color: #ffffff;
  }

  main,
  aside {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
  }

  .site__popular__news {
    margin-bottom: 50px;
  }

  .site__popular__news__card__item {
    width: 100%;
  }

  .site__popular__news__card__caption {
    width: 100%;
  }

  article,
  aside {
    width: 80%;
    margin: 0 auto;
  }

  .site__article__section {
    margin-bottom: 70px;
  }
}

@media (max-width: 960px) {
  main,
  aside {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
  }

  .site__main {
    margin-top: 0px;
  }

  .site__article__section {
    padding: 0px 20px;
    /* margin:0 auto; */
  }

  article,
  aside {
    width: 98%;
    margin: 0 auto;
  }

  .site__title {
    margin-top: 30px;
  }

  .site__thumb__gallery {
    width: 330px;
  }

  .site__gallery__list {
    justify-content: space-around;
  }

  .site__thumb__gallery img {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .iconSearchMob figure img {
    display: block;
  }

  .micros-topnav ul li {
    font-size: 15px;
  }

  .moreInfo figure ul li:nth-child(1) {
    font-size: 10px;
    margin: 10px 0;
  }

  .moreInfo figure ul li:nth-child(2) {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .moreInfo figure ul li:nth-child(3) a img {
    width: 170px;
    height: auto;
  }

  .moreInfo figure ul li {
    width: 224px;
  }

  figure.site__hero__figure.player iframe {
    height: 450px;
  }

  .nav__overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    z-index: 999;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #294f76;
  }

  /* .swiper-slide {
        height: 100%;
    } */

  .site__card__list .swiper-pagination {
    bottom: 0 !important;
    position: relative;
    display: block;
  }

  .site__card__list .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 3px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    padding: 0;
    width: 12px;
    height: 12px;
  }

  figure.site__hero__figure figcaption.site__hero__caption--submenu {
    top: 20%;
    left: 20px;
    max-width: 100%;
    width: auto;
  }

  .eachBox {
    margin-top: 80px;
  }

  .nav__overlay {
    background-color: #fffffff2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    margin-top: 195px;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
  }

  .micros-topnav ul li {
    color: #294f76;
    float: none;
  }

  .nav__overlay ul {
    padding: 0;
  }

  .micros-topnav--activated {
    color: #294f76;
  }

  figure.site__hero__figure figcaption.site__hero__caption {
    bottom: 0;
    padding: 0;
    left: 20px;
  }

  .site__read__title {
    text-align: left;
    width: auto;
    padding-top: 90px;
  }

  .site__article__meta .article__share {
    justify-content: flex-end;
  }

  .site__article__meta .article__share img {
    width: 23px;
    height: 23px;
  }

  .site__article__meta .meta__sec {
    position: absolute;
  }

  .site__article__meta {
    margin-top: 20px;
  }

  .site__article__img {
    margin: 15px auto 20px auto;
  }

  .site__article__section {
    padding: 0;
  }

  .btn-read,
  .btn-read__outline {
    font-size: 13px;
    /* padding: 5px 10px 5px 10px; */
  }

  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #294f76;
  }

  .button_container.active .middle {
    opacity: 0;
    background: #294f76;
  }

  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #294f76;
  }

  .eachBox {
    margin-top: 143px;
    position: fixed;
    z-index: 999;
  }

  .micros__head-quot img {
    width: 470px;
  }

  header .site__left {
    top: -3px;
    position: relative;
  }

  header .site__left img {
    max-width: 65px;
    margin-top: -37px;
  }

  .gradient {
    margin-top: -21px;
    width: 100%;
    position: absolute;
    left: 0;
  }

  figure.site__hero__figure figcaption.site__hero__caption--submenu h1 {
    font-size: 2.6em;
  }

  .moreInfo figure ul li > div.moreInfo--features figure {
    width: 35px;
    height: 35px;
  }

  .moreInfo figure ul li > div.moreInfo--features div {
    height: 83px;
  }

  .moreInfo figure ul li > div.moreInfo--features div p {
    font-size: 5px;
  }

  .ui__shine {
    width: 100%;
    font-size: 11px;
    height: auto;
  }

  .elem__area__socmed a img {
    width: 20px;
  }

  .topnav {
    flex-direction: column;
    height: 100%;
  }

  .topnav a {
    width: 100%;
  }

  .site__hero {
    margin-top: 0px;
  }

  .site__title {
    margin-top: 0px;
  }

  figure.site__hero__figure img.hero__image--submenu {
    height: auto;
  }

  .overflowhidden {
    overflow: hidden;
  }

  .button_container {
    display: block;
    /* position: fixed; */
    top: 28px;
    right: 18px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    z-index: 200;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
  }

  .button_container:hover {
    opacity: 0.7;
  }

  .button_container.active {
    z-index: 999;
  }

  .button_container span {
    background: #294f76;
    border: none;
    height: 3px;
    width: 65%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .button_container span:nth-of-type(2) {
    top: 11px;
    width: 100%;
  }

  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .site__main {
    background-color: #ffffff;
  }

  main,
  aside {
    width: 100%;
    padding: 0px 10px;
  }

  .site__title {
    font-size: 18px;
  }

  .site__card__list {
    margin: 0;
  }

  .site__card__item {
    margin-top: 11px;
  }

  .site__card__item figure img {
    height: 353px;
  }

  .site__card__item figure figcaption.site__card__caption h1 {
    font-size: 18px;
  }

  .site__card__item figure figcaption.site__card__caption ul {
    margin: 0;
    padding: 0;
  }

  .site__card__item figure figcaption.site__card__caption ul li p {
    font-size: 13px;
  }

  .site__card__item figure figcaption.site__card__caption li + li::before {
    line-height: 20px;
  }

  .site__card__item figure {
    margin-bottom: 15px;
  }

  nav section.site__nav .site__nav__top ul.site__nav__btn li a {
    color: #333333;
    width: 100%;
    border-bottom: 5px solid #e0a62d;
  }

  @media (max-width: 820px) {
    .swiper-client .swiper-slide {
      height: 200px;
    }
    .swiper-client figure.site__hero__figure img.hero__image--homepage {
      height: auto;
    }
  }

  figure.site__hero__figure,
  figure.site__hero__figure.player iframe,
  figure.site__hero__figure img.hero__image--homepage,
  figure.site__hero__figure img.hero__image--submenu {
    height: 45vh;
  }

  figure.site__hero__figure figcaption.site__hero__caption h1 {
    font-size: 23px;
  }

  figure.site__hero__figure figcaption.site__hero__caption ul li p {
    font-size: 14px;
  }

  figure.site__hero__figure figcaption.site__hero__caption ul li + li::before {
    padding: 0px 5px;
    line-height: 1.5;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 3px;
  }

  .hvr-text {
    height: 106px;
    font-size: 15px;
  }

  footer .elem__area p {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
  }

  .site__popular__news__card__caption ul li + li::before {
    line-height: 21px;
  }

  .site__column__caption {
    padding-left: 20px;
    width: 100%;
  }

  .site__column__caption ul {
    margin-top: 0px;
  }

  .site__column__caption ul li + li::before {
    line-height: 17px;
  }

  .site__column__caption ul li p {
    font-size: 11px;
  }

  .site__card__column__list__item {
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
  }

  .site__card__column__list__item h1 {
    font-size: 20px;
  }

  .site__column__summary {
    font-size: 17px;
  }

  .site__card__column__list__item .site__column__thumb {
    height: 120px;
    flex: 1 1 170px;
  }

  .site__card__column__list__item img {
    width: 170px;
    height: 120px;
  }

  .site__article__meta .meta__sec {
    font-size: 11px;
    display: flex;
    align-self: flex-end;
  }

  .site__article__meta .article__source {
    margin-right: 4px;
  }

  .site__article__meta .article__share {
    font-size: 10px;
    display: flex;
    align-items: flex-end;
  }

  .site__read__title {
    font-size: 24px;
    line-height: 1.3;
  }

  .site__article__creator {
    font-size: 14px;
  }

  .site__article__content p {
    font-size: 16px;
  }

  .hvr-overlay {
    display: none;
  }

  .site__gallery__item figcaption {
    display: block;
  }

  .site__gallery__item figcaption h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #333333;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .site__gallery__item {
    width: 47%;
  }

  .site__thumb__gallery {
    width: 100%;
  }
}

@media (max-width: 428px) {
  .backtotop {
    width: 15%;
    height: auto;
    right: 3%;
    bottom: 3%;
  }
  .swiper-testimoni {
    height: 500px !important;
  }
  .swiper-client {
    height: auto !important;
  }
  .heading.chat,
  .desc.chat {
    text-align: center;
  }
  .desc.chat {
    font-size: 1.3rem;
  }
  .icon-wa {
    width: 200px;
  }
  .flexy-grid.cta {
    flex-direction: column;
  }

  .site__card__item {
    width: 100%;
  }

  .parallax {
    height: 220px;
    background-size: contain;
  }

  .wrapFoto {
    gap: 30px;
  }

  .wrapFoto > div {
    width: auto;
  }

  .wrapFoto figure img {
    height: auto;
    max-width: 100%;
  }

  .gradient {
    margin-top: -22px;
    width: 100%;
    position: absolute;
    left: 0;
  }

  header .site__left {
    justify-content: start;
  }

  header .site__left img {
    margin: 0;
    max-width: 50px;
  }

  .moreInfo {
    margin-top: 70px;
  }

  .moreInfo figure ul li {
    line-height: 1.3;
    width: 300px;
  }

  .moreInfo figure ul {
    top: 0;
    margin-top: 20px;
  }

  .moreInfo figure ul li:nth-child(1) {
    font-size: 11px;
  }

  .moreInfo figure ul li:nth-child(2) {
    font-size: 1em;
  }

  .moreInfo figure ul li > div.moreInfo--features div p {
    font-size: 7px;
  }

  figure.site__hero__figure.player iframe {
    height: 200px;
    position: absolute;
  }

  .hero__image--submenu {
    height: 400px;
  }

  header .site__right {
    text-align: center;
    display: block;
  }

  .deskDisp {
    display: none;
  }

  .btn-read,
  .btn-read__outline {
    font-size: 13px;
    /* padding: 5px 10px 5px 10px; */
  }

  figure.site__hero__figure figcaption.site__hero__caption h1 {
    font-size: 1.1rem;
  }

  /* .swiper-slide {
        height: auto;
        margin-top: 80px;
    } */

  .micros__head-quot img {
    width: 80%;
    height: auto;
    margin: 20px 0 20px 0;
    padding: 0 10px;
  }

  .site__hero__overlay {
    height: auto;
  }

  figure.site__hero__figure {
    position: relative;
    height: 100%;
  }

  figure.site__hero__figure img.hero__image--submenu {
    background-size: contain;
    margin-top: 77px;
  }

  figure.site__hero__figure figcaption.site__hero__caption--submenu h1 {
    font-size: 20px;
    left: 0;
  }

  figure.site__hero__figure figcaption.site__hero__caption {
    max-width: 267px;
    margin: 0;
    top: 30%;
  }

  .site__card__item.mobCard {
    width: 100%;
  }

  .site__card__item figure figcaption.site__card__caption h1 {
    font-size: 1.1rem;
  }

  .eachBox {
    margin-top: 130px;
  }

  .eachBox ul li img {
    float: left;
  }

  .eachBox ul li a {
    height: 80px;
  }

  .site__card__item figure img {
    height: auto;
  }

  .swiper-pagination {
    bottom: 30px !important;
  }

  figure.site__hero__figure figcaption.site__hero__caption--submenu {
    top: 50%;
  }

  .back-to-home {
    right: 0;
  }

  .moreInfo figure ul li > div.moreInfo--features figure {
    width: 45px;
  }

  .moreInfo figure ul li {
    width: 267px;
  }

  .elem__area {
    height: auto;
  }

  .site__title {
    margin-top: 0px;
  }

  .site__article__img img {
    height: 232px;
  }

  .site__column__caption {
    padding-left: 15px;
  }

  .site__column__caption ul {
    margin-top: 0px;
  }

  .site__column__caption ul li + li::before {
    line-height: 22px;
  }

  .site__column__caption ul li p {
    font-size: 14px;
  }

  .site__card__column__list__item {
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
  }

  .site__card__column__list__item h1 {
    font-size: 16px;
  }

  .site__column__summary {
    font-size: 11px;
    display: none;
  }

  .site__card__column__list__item .site__column__thumb {
    height: 120px;
    flex: 1 1 150px;
  }

  .site__card__column__list__item img {
    width: 150px;
    height: 120px;
  }

  .site__card__list {
    margin: 0;
  }

  .site__card__item figure figcaption.site__card__caption ul li p {
    font-size: 10px;
  }

  .site__card__item figure figcaption.site__card__caption li + li::before {
    line-height: 17px;
  }

  .site__popular__news__card__item .site__card__thumb {
    width: 150px;
  }
}

@media (max-width: 376px) {
  .site__column__summary {
    font-size: 10px;
  }

  .site__card__column__list__item .site__column__thumb {
    height: 120px;
    flex: 1 1 55%;
  }

  .site__column__caption ul li + li::before,
  .site__card__item figure figcaption.site__card__caption ul li + li::before {
    padding: 0px 3px;
  }

  .site__card__item figure figcaption.site__card__caption ul li p {
    font-size: 11px;
  }

  .site__card__item figure figcaption.site__card__caption li + li::before {
    line-height: 17px;
  }

  .site__column__caption ul li + li::before {
    line-height: 22px;
  }

  .site__popular__news__card__caption ul li + li::before {
    line-height: 21px;
  }
}

@media (max-width: 325px) {
  figure.site__hero__figure figcaption.site__hero__caption {
    width: 300px;
  }

  .moreInfo figure ul li {
    width: 100%;
  }

  .moreInfo figure ul li:nth-child(1) {
    font-size: 11px;
  }

  .moreInfo figure ul li:nth-child(2) {
    font-size: 1em;
  }

  footer .elem__area p {
    padding: 0;
  }

  .site__card__item figure figcaption.site__card__caption ul li + li::before {
    padding: 0px 2px;
  }

  .site__card__item figure figcaption.site__card__caption ul li p {
    font-size: 9px;
  }

  .site__card__item figure figcaption.site__card__caption li + li::before {
    line-height: 12px;
  }
}
